######################
###   GIT IGNORE   ###
######################

# Ignore all files and directories by default
*

# Include this .gitignore file
!.gitignore

# Include SSH client config file
!config

# Include get-pass.sh script
!get-pass.sh
