# Runs the SSH key agent, to store decrypted keys
[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart={{ ssh_agent_path.stdout }} -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
